# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse
.classpath
.project
.settings/

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*.log
*.gz
mvnw
mvnw.cmd
.mvn/

# Gradle
.gradle/
build/

# VS Code
.vscode/

# Spring Boot
*.pid
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.hprof

# Docker volumes
postgres_data/

# macOS
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log 